<!DOCTYPE html>
<html>
<head>
  <title>Hello, World</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/vendor/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/vendor/foundation.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="finApp">
  <div id="navbar" > <!--Top-Bar Navigation Start-->
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1 class="globalheader"><a href="#"><img src="img/globalpalogo.png" alt="Global Pay Logo" id="globalpalogo"/>&nbsp;&nbsp;Global Payments Inc</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#"><span class="username">Tino Mantella</span>&nbsp;&nbsp;&nbsp;<img src="img/tinomantella.png" alt="Tino Mantella" id="tinoimg"/></a>
            <ul class="dropdown">
              <li class="active"><a href="#">Manage Account</a></li>
              <li class="active"><a href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div> <!--Top-Bar Navigation End-->

  <br><br><br>

  <div ng-controller="DevicesCtrl" class="row"> <!--User Devices Start-->
    <div class="small-8 medium-6 large-11 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h2>Tino Mantella's Devices</h2>
        </div>
        <table style="width: 100%;">
          <tr>
            <th>Platform</th>
            <th>Category</th>
            <th>Device ID</th>
          </tr>
          <tr ng-repeat="device in devices">
            <td>{{ device.platform }}</td>
            <td>{{ device.category }}</td>
            <td>{{ device.serial }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div><!--User Devices End-->

  <br><br><br>

  <div ng-controller="AccountCtrl" class="row"> <!--User Accounts Start-->
    <div class="small-8 medium-6 large-11 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h2>Accounts</h2>
        </div>
        <table style="width: 100%;">
          <tr>
            <th>Account type</th>
            <th>Credit Card # | PGP Key | PayPal Account</th>
          </tr>
          <tr ng-repeat="account in accounts">
            <td>{{ account.name }}</td>
            <td>{{ account.ccn }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div><!--User Accounts End-->

  <br><br><br>

  <div ng-controller="MovementCtrl" class="row"> <!--User Movements Start-->
    <div class="small-8 medium-6 large-11 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h2>Movements</h2>
        </div>
        <table style="width: 100%;">
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Item</th>
            <th>Amount</th>
          </tr>
          <tr ng-repeat="movement in movements">
            <td>{{ movement.date }}</td>
            <td>{{ movement.time }}</td>
            <td>{{ movement.item }}</td>
            <td>$ {{ movement.price }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div><!--User Movements End-->






  <!--Vendors-->
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <!--Main-->
  <script src="js/main.js"></script>
  <!--Controllers and Services-->
  <script src="js/userdevice/device.ctrl.js"></script>
  <script src="js/userdevice/device.serv.js"></script>
  <script src="js/useracct/account.ctrl.js"></script>
  <script src="js/useracct/account.serv.js"></script>
  <script src="js/usermovement/movement.ctrl.js"></script>
  <script src="js/usermovement/movement.serv.js"></script>


</body>
</html>
