/******************************
Initialize the body structure
******************************/
html {
   color: #222;
   font-size: 1em;
   line-height: 1.4;
}
body {
  background-color: #CCE3EB;
}


/**********************
Top Bar - Navigation
**********************/
.top-bar {
  background-color: #00457c;
  padding-bottom: 3em;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #00457c;
}
#tinoimg {
  border-radius: 50%;
}
.globalheader {
  font-family: 'Playfair Display', serif;
}
.username {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;

}
/******************************
Videoscribe and Button
******************************/
.videoscribe {
  height: 100%;
  background-color: #353535;
  border-style: solid;
  border-color: #96EB00;
  border-width: 3px;
  // opacity: 0.3;
  h1{
    font-family: 'Gill Sans';
    font-weight: 300;
    strong{ font-weight: 500; }
    color: #aaa;
    float: right;
    margin-right:5%;
    margin-top: 2.5%;
  }
}
.button1{
  display: inline-block;
  padding: 10px 35px;
  margin: 0.25em 0;
  position: relative;
  text: {
    decoration: none;
    transform: uppercase;
  }
  font: {
    weight: 600;
  }
  color: #96EB00;

  &:before{
    content: '';
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    border: solid 3px #aaa;
    transform: perspective( 350px ) rotateX( 0deg );
  }

  &:hover{

    &:before{
      transition: 0.35s ease all;
      transform: perspective( 350px ) rotateX( -180deg );
    }
  }

  /**
  FULL-FLIP DEMO STYLES
  **/

  &.button-full-flip{

    &:before{
      transition: 0.35s ease all;
    }
  }

  /**
  FADE DEMO STYLES
  **/

  &.button-fade{
    transition: 0.35s ease color;

    &:hover{
      color: #00457c;

      &:before{
        border-color: transparent;
      }
    }
  }
}
.appchart img{
  margin-left: 8%;
  width:80%;
}

/******************************
Device,Account,Movement Cards
******************************/
h1 {
  font-family: 'Playfair Display', serif;
}
h2 {
  font-family: 'Playfair Display', serif;
}
th {
  font-family: 'Oswald', sans-serif;
}
td {
  font-family: 'Oswald', sans-serif;
}
