<div ng-controller="UserDevicesController" class="row"> <!--User Devices Start-->
  <div class="small-8 medium-6 large-11 small-centered columns">
    <div class="header panel">
      <div class="sign">
        <h1>Tino Mantella's Devices</h1>
      </div>
      <ul class="userdevice">
        <li>Device: android</li>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <li>Type: mobile</li>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <li>Device ID: 3489399843298sdfds4723</li>
      </ul>
      <ul class="userdevice">
        <li>Device: android</li>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <li>Type: mobile</li>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <li>Device ID: 3489399843298sdfds4723</li>
      </ul>
      <ul class="userdevice">
        <li>Device: android</li>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <li>Type: mobile</li>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <li>Device ID: 3489399843298sdfds4723</li>
      </ul>
    </div>
  </div>
</div><!--User Devices End-->
